<div class='col-md-8 offset-md-1'>
  <section>
    <h1>Users</h1>
    <table class='table'>
      <thead><tr><th col=2>Image</th><th col=2>Name</th><th></th></tr></thead>
      <tbody>
        <%= users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100, 100) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= link_to 'Show', user_path(user.id) %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </section>
</div>