<div class='container p-3'> 
  <div class='row'>
    <%= render 'users/info', user: @user, new_book: @new_book %>
    <div class='col-md-8 offset-md-1'>
      <%= render 'books/list', books: @books %>
      <%= render 'users/read_number', books: @books %>
      <%= render 'users/search', user: @user, search_book: @search_book %>
    </div>
  </div>
</div> 
