<div class='container py-3 px-5'>
  <%= render 'layouts/errors', obj: @new_book %>
  <div class='row'>
    <%= render 'users/info', user: @user, new_book: @new_book %>
    <div class='col-md-8 offset-md-1'>
      <%= render 'books/list', books: @books %>
    </div>
  </div>
</div>