<div class='container p-3'>
  <div class='row d-flex justify-content-center p-3'>
    <section calss='col-md-8'>
      <h1 class='mb-3'>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,<br>
      you can share and exchange your opinions , inpressions , and emotions<br>
      about various books!</p>
      <div class='d-grid gap-2 col-11 mx-auto'>
        <%= link_to "Log in", new_user_session_path, class: 'btn btn-info btn-block' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-block' %>
      </div>
    </section>
  </div>
</div>