<div class='conteiner py=3 px=5 w-75 mx-auto'>
  <% if @model == 'user' %>
  	<h3>Users search for "<%= @content %>"</h3>
    <%= render 'users/list', users: @records %>
  <% elsif @model == 'book' %>
  	<h3>Books search for "<%= @content %>"</h3>
    <%= render 'books/list', books: @records %>
  <% end %>
</div>